.popup {
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 320px;
  min-height: 100%;
  position: fixed;
  top: 0;
  background:rgba(0, 0, 0, .5);
  display: flex;
  visibility: hidden;
  opacity: 0;
  transition: visibility .1s, opacity .2s ease-in-out;
  
}

@media screen and (min-width: 768px) {

  .popup {
    max-width: 581px;
  }
}

@media screen and (min-width: 1280px) {

  .popup {
    max-width: 880px;
  }
}