.element__caption {
  background-color: white;
  border-radius: 0 0 10px 10px;
  width: 282px;
  min-height: 85px;
  display: flex;
  align-items: center;
  padding: 25px 15px 31px 21px;
  box-sizing: border-box;
}